<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Mother's Little Helper Index</title>

  <!-- CSS  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="color-change-3x" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Mother's Little Helper</a>
<!--       <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>
 -->
<!--       <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
 -->
 </div>
  </nav>
<div class="container left" id="giraffe">
 <img src="http://localhost:3017/images/giraffe.png" alt="giraffe">
</div>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h3 class="header center ">Welcome to Mother's Little Helper</h3>

      <div class="row center">
        <h5 class="header col s12 light">An easy to use app for tracking your newborn's daily activities</h5>
      </div>
      <div class="row center">
        <a href="/signup" id="download-button" class="btn-large waves-effect waves-light orange">Sign-up</a>
      </div>
<!--         <div class="row right">
          <img src="http://localhost:3017/images/giraffe_rt.png" alt="giraffe">
      </div> -->
         <div class="row center">
        <a href="/login" id="download-button" style="width: 121px;" class="btn-large waves-effect waves-light orange">Log in</a>
      </div>

      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">


    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer color-change-3x">
    <div class="container">

    <div class="footer-copyright color-change-3x">
      <div class="container">
      Made by SHAZA &copy 2017<a class="color-change-3x" href=""></a>
      </div>
    </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
