/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.footer-copywrite {
  color: white;
}

#giraffe {
  background: blue;
  border: 2px dotted red;
  height: 232px;
  width: 200px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.color-change-3x {
  -webkit-animation: color-change-3x 4s linear infinite alternate both;
  -moz-animation: color-change-3x 4s linear infinite alternate both;
  animation: color-change-3x 4s linear infinite alternate both;
}

@keyframes color-change-3x {
  0% {
    background: #ffeb3b;
  }
  80% {
    background: orange;
  }
  100% {
    background: #ff9800;
  }
}
// .cls
/*line above formula amount*/
element.style {
    margin-bottom: 0px;
}



#index-banner > div > div.row > div:nth-child(2) > div:nth-child(3) > label{
      margin-bottom: 0px;
}
/*#formula-input {
  font-size: .8em;
}
*/
[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
  border: 2px solid yellow;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
  background-color: yellow;

.page-footer {
  padding-top: 0px;
  background-color: #f9a825;
  color: white;
}
[type="checkbox"].filled-in:checked + label:after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid orange;
  background-color: orange;
  z-index: 0;
}
