/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
// sticky footer
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
// end sticky footer

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


/*:hov

.cls*/
/*line above formula amount*/
element.style {
    margin-bottom: 0px;
}



#index-banner > div > div.row > div:nth-child(2) > div:nth-child(3) > label{
      margin-bottom: 0px;
}
/*#formula-input {
  font-size: .8em;
}
*/
[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:before{
  border: 2px solid black;
}

#input_milk{
  border: 2px dotted red;

}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
  background-color: orange;
}

.page-footer {
  padding-top: 0px;
  background-color: #f9a825;
}
[type="checkbox"].filled-in:checked + label:after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid orange;
  background-color: orange;
  z-index: 0;
}
