<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>activity</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="yellow" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Mother's Little Helper</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/activity">Activity</a></li>
        <li><a href="/go">GO recap</a></li>
        <li><a href="/eat">EAT recap</a></li>
        <li><a href="/sleep">SLEEP recap</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/activity">Activity</a></li>
        <li><a href="/go">GO recap</a></li>
        <li><a href="/eat">EAT recap</a></li>
        <li><a href="/sleep">SLEEP recap</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
 </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">

      <br><br>
      <h5 class="header center ">Record {{kid_name}}'s activity</h5>

 <div class="row">
    <form action="/activity" method="post">
          <div class="input-field inline">
          <input name= "day" id="day" type="date" class="datepicker">
<!--             <input id="email" type="email" class="validate">
 -->       <label for="date" data-error="wrong" data-success="right"></label>
          </div><br>


     <div class="col s4">

        <h3>GO</h3>
          <p>
               <input name="go_time" id="goTimepicker" type="time" class="timepicker" style="margin-bottom: 0px">
              <label for="goTimepicker">go change time: hour:min am/pm</label>
          </p>
          <p>
            <input name="pee" type="checkbox" id="pee"  />
            <label for="pee">PEE</label>
          </p>
          <p>
            <input name="poo" type="checkbox" id="poo"  />
            <label for="poo">POO</label>
          </p>
      </div>

        <div class="col s4">

          <h3>EAT</h3>
          <p>
            <input name="eat_time" id="eatTimepicker" type="time" class="timepicker" style="margin-bottom: 0px">
            <input type="hidden" name="child_id" value="{{id}}">
            <!-- http://www.echoecho.com/htmlforms07.htm for how to get the child_id to populate -->
            <label for="eatTimepicker">eat time: hour:min am/pm</label>
          </p>

         <p>
            <div class="row">
              <input name="formula" id="input_formula" type="text" data-length="4" style="width: 50px;">
              <label for="input_formula">formula oz</label>
            </div>
          </p>

          <p>
            <div class="row">
              <input  name ="milk" id="input_milk" type="text" data-length="4" style="width: 50px;">
              <label for="input_milk">milk oz</label>
            <p>
            <input name="left" type="checkbox" id="left"  />
            <label for="left">LEFT</label>
            <input name="right" type="checkbox" id="right"  />
            <label for="right">RIGHT</label>
          </p>
            </div>
          </p>
        </div>

        <div class="col s4">
          <h3>SLEEP</h3>
<!--             <input id="timepicker1">
 -->            <input name="sleep_start" type="time" class="timepicker" style="margin-bottom: 0px";>
              <label for="timepicker">sleep start: hour:min am/pm</label>

              <input name="sleep_end" id="timepicker2" type="time" class="timepicker" style="margin-bottom: 0px">
              <label for="timepicker">sleep finish: hour:min am/pm</label>
<!--           <div class="datepicker-here" data-timepicker="true" data-time-format='hh:ii aa'></div>
 -->
        </div>

      </div>
      <button class="btn waves-effect waves-light orange" type="submit" style = "bottom: 10px">log activity
      </button>

       <button class="btn waves-effect waves-light orange row right" type="submit" style = "bottom: 10px"><a href="/query">see activity</a>
      </button>




  </div>


    </form>
  </div>

    </div>
  </div>


  <footer class="page-footer yellow">
    <div class="container">
    <div class="footer-copyright">
      <div class="container">
      Made by SHAZA &copy 2017 with <a class="yellow darken-3" href="http://materializecss.com">Materialize</a>
      </div>

    </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
