<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>query index pg</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <nav class="yellow" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Mother's Little Helper</a>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">

      <br><br>
      <h5 class="header center ">Query {{kid_name}}'s activity</h5>

         <div class="row">

             <div class="col s4">

                <h1><a href="/go">GO</a></h1>
                <h1><a href="/eat">EAT</a></h1>
                <h1><a href="/sleep">SLEEP</a></h1>
                <input type="hidden" name="child_id" value="{{id}}">
                 <!-- http://www.echoecho.com/htmlforms07.htm for how to get the child_id to populate -->
             </div><br>

        </div>
    </div><br>
  </div>
  <footer class="page-footer yellow">
    <div class="container">
    <div class="footer-copyright">
      <div class="container">
      Made by SHAZA &copy 2017 with <a class="yellow darken-3" href="http://materializecss.com">Materialize</a>
      </div>

    </div>
    </div>
  </footer>


  <!--  Scripts
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
